<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ReqRes</title>
    <link th:href="page.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Hello ReqRes users!</h1>
        <div class="btn-add-wrapper">
            <a class="btn btn-add" th:href="@{/NewPerson}">Add</a>
        </div>
    </div>
    <div class="person-list">
        <div class="person" th:each="person: ${Persons}">
            <p class="name" th:text="${person.last_name} + ' ' + ${person.first_name}"></p>
            <p class="email" th:text="${person.email}"></p>
            <p class="avatar">
                <img th:src="${person.avatar}"/>
            </p>
            <div style="display: flex; justify-content: center">
                <a th:href="@{'/edit/'+${person.id}}" class="btn btn-edit">Edit</a>

                <a th:href="@{'/delete/'+${person.id}}" class="btn btn-delete" onclick="return confirm('May co chac la muon xoa khong?')">Delete</a>

            </div>
        </div>
    </div>
</div>
</body>
</html>