<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Person</title>
</head>
<body>
<h1>New Person</h1>
<form th:action="@{/SavePerson}" th:object="${Person}" method="post" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}">
    <p>
        <div>First Name</div>
        <div><input type="text" th:field="*{first_name}"/></div>
    </p>
    <p>
        <div>Last Name</div>
        <div><input type="text" th:field="*{last_name}"/></div>
    </p>
    <p>
        <div>Email</div>
        <div><input type="text" th:field="*{email}"/></div>
    </p>

    <p>
        <div>Avatar</div>
        <div><input type="text" th:field="*{avatar}"/></div>
        <div th:if="*{avatar!=null}">
            <img th:src="@{*{avatar}}"/>
        </div>
        <div th:if="*{avatar==null}">
            <input type="file" name="avatarupload"/>
        </div>
    </p>

    <p>
        <button type="submit">Submit</button>
    </p>
</form>
</body>
</html>